<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificat</title>
    <link rel="stylesheet" href="certificat.css">
</head>
<body>

    <div class="container">
        <div class="underline"></div>
        <div class="display-flex justify-content-center bold font-26 line">Certificat Médical</div>
        <div class="display-flex justify-content-center bold font-26 line mt-2">Specialité medécin</div>
        <div class="doctor-note">
            <div class="content mt-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit labore veniam facere sequi aperiam! Odit, voluptate quasi quaerat rem architecto consequatur esse doloribus quidem quibusdam vitae? Commodi debitis voluptas quia?</div>

            <div class="display-flex justify-content-end mt-4"> Ville le : 23/06/2023</div>
            <div class="display-flex justify-content-end bold mt-4"> Nom praticien</div>
            <div class="display-flex justify-content-end bold mt-2"> Signature</div>
        </div>
    </div>
    
</body>
</html>